body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.header {
    padding: 20px;
    background-color: #f3f3f3;
    text-align: left;
    font-size: 24px;
}
.button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.info-box, .rights-box, .disclosure-box {
    margin: 10px 0;
    border-radius: 15px;
    padding: 20px;
    color: #fff;
}
.info-box {
    background-color: #007BFF;
}
.rights-box, .disclosure-box {
    background-color: #444;
    /* overflow-y: scroll; */
    height: 150px;
    width: 80%;
    float: left;
}
.sidebar {
    width: 200px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #f3f3f3;
    padding: 20px;
}
.sidebar div {
    margin-bottom: 10px;
}